@charset "utf-8";
/* CSS Document */
/* reset.css */
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,em,label{margin:0;padding:0;}
body,button,input,select,textarea{border:0;font-size:16px;font-family:'微软雅黑';}
strong{font-weight:normal;}
em{font-style:normal;}
li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
textarea{ resize:none; overflow:auto;}
input,textarea{outline:none;border:0;}
/* end reset.css */
/* public.css */
.clearFix{zoom:1;}
.clearFix:after{content:"";display:block;clear:both;}
.show{display:block;}
.hide{display: none;}
/* end public.css */




body{background: url(img/bg1.jpg) no-repeat;overflow:hidden;}
.header{width:100%;height:120px;position: absolute;left:0;top: 0;}
.header p{line-height:120px;float: left;width:50%;position:relative;height:120px;text-shadow: 1px 2px #22c3aa,2px 4px #aee2d9;color:white;font-size:18px;}
.pRight span{position: absolute;left:600px;top: 0;white-space:nowrap;opacity: 0;}
.pLeft span{position: absolute;left: 0px;top: 0;white-space:nowrap;opacity: 0;}

 #content{width:1090px;height:100%;-overflow: hidden;position: relative;margin:0 auto;}
.wrap{width:100%;height:100%;margin:80px auto 0;text-align: center;position: absolute;top:800px;-display:none;} 
-.wrap.show{display:block;}
-.wrap.hide{display: none;} 
.pic{width:200px;height:180px;margin:100px auto 40px;border-radius:50%;overflow: hidden;border:5px solid #aee2d9;transform:scale(0);transition:200ms;}
.pic img{width:200px;height:180px;}
.wrap p{height:35px;line-height: 35px;}






#ul{position: absolute;top: 0;left:50px;}
#ul li{width: 14px; height: 13px; margin: 7px;position: relative;}
#ul li a{display: block;width: 14px; height: 13px;background:blue;border-radius:50%;}
#ul li span{position:absolute;left:0;top:0;display:none;} 
